/* -------------------------
   Global Styles of Dashboard
   ------------------------- */


@font-face {
    font-family: "Mr Dodo Medium";
    src: url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.eot");
    src: url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.woff2") format ("woff2"),
    url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.svg#Mr Dodo Medium") format("svg");
}


/* Page background*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}


/* Header section: fixed at the top */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px; /* Adjust height as needed */
    background-color: #92cf3c; /* Set background color for visibility */
    
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    flex-direction: column; /* stack title + subtitle */
    text-align: center;  /* center text */
    padding: 0 20px;
    z-index: 1000; /* Ensure it stays above other content */
    border-bottom: 1px solid #ddd; /* Optional: Add border for separation */
}


.footer-navbar{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 20px; /*add gap between 2 images*/
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    background-color: #9c7233;
}

/*Main App (below navbar) */
.app-shell {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    padding-top: 80px;
}

.main-content{
    display: flex;
    flex: 1; /*takes remaining space*/
    overflow: hidden;
}

/* Customized Layer Selector Checklist */
.custom-checklist {
    background-color:  #e5e1ce;
    /*Add padding the checklist text*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: 'black';
    /* Add padding to the checklist box itself*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Customized Layer Selector Checklist */
.custom-checklist label {
    white-space: nowrap; /*avoid checlist text breaking into two lines*/
}

/* Customized Collapsible Info Sidebar */
.info-sidebar {
    position: relative;
    padding: 20px;
    width: 0;
    overflow: hidden;
    transition: 0.3s ease;
    border-left: 1px solid #ddd;
}

.info-sidebar h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.info-sidebar h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.info-sidebar p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}




/* Info Sidebar when OPEN*/
.info-sidebar-open {
    width: 300px;
    padding: 5px;
    background: white;
    border-left: 1px solid #ddd;
}

/* Info Sidebar when CLOSED*/
.info-sidebar-collapsible {
    width: 0;
    padding: 0;
}


/*Map Area */
.map-container {
    flex: 1; /* fills remaining space */
    height: 100%;
}



/* Title Style */
.brand-title{
    font-size: 30px;
    /*font-weight: bold;*/
    font-family: "Mr Dodo Medium";
}

/* SubTitle Style */
.brand-subtitle{
    font-size: 16px;
    font-family: "Mr Dodo Medium";
}