/* -------------------------
   Global Styles of Dashboard
   ------------------------- */


@font-face {
    font-family: "Mr Dodo Medium";
    src: url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.eot");
    src: url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.woff2") format ("woff2"),
    url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c63139a77f8e8ae38c2f0b6ad1b6aea.svg#Mr Dodo Medium") format("svg");
}


/* Page background*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    caret-color: transparent; /*make cursor invisible when clicking on text*/
}


/* Header section: fixed at the top */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px;
    background-color: #92cf3c; /* Set background color for visibility */
    
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    flex-direction: column; /* stack title + subtitle */
    text-align: center;  /* center text */
    padding: 0 20px;
    z-index: 1000; /* Ensure it stays above other content */
    border-bottom: 1px solid #ddd; /* Optional: Add border for separation */
}

/* Title Style */
.brand-title{
    font-size: 30px;
    /*font-weight: bold;*/
    font-family: "Mr Dodo Medium";
}

/* SubTitle Style */
.brand-subtitle{
    font-size: 16px;
    font-family: "Mr Dodo Medium";
}

/* Footer section: fixed at the bottom */
.footer-navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;

    display: flex;
    gap: 20px; /*add gap between 2 images*/
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    background-color: #9c7233;
}

/* Tabs (below header) */
.main-tabs {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #B7E88A;
    height: 40px;
    display: flex;
}

.tab {
    font-family: "Mr Dodo Medium", sans-serif;
    font-size: 16px;
    color: black;
    border: none;
    /*box-shadow: 0 0 0 1px black; */
    background-color: #B7E88A;
    padding: 5px 15px;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
}

/* Main App (below navbar)*/
.app-shell {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-content {
    position: absolute;
    top: 120px;
    bottom: 50px;
    left: 0;
    right: 0;

    display: flex;
    overflow: hidden;
    padding: 10px;
}

/* ---------- TAB 1 STYLING ----------------------------------------------------------------------*/

/*Map Area */
.existing_map_container {
    flex: 1; /* fills remaining space */
    position: relative;
}


/* Map Loading Indicator*/
.existing-map-loading {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.existing-loading-time-message {
    font-size: 10px;
    padding-left: 20px;
    width: 300px;
    white-space: normal;
    overflow-wrap: break-word; /*break into 2 lines if text is too long*/
}

/* Left control panel*/
.existing_left_panel {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    flex-shrink: 0;
}

/* ------ Checklist Styling ------ */

/* Customized Layer Selector Checklist */
.existing_custom_checklist {
    background-color:  #e5e1ce;
    /*Add padding the checklist text*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: 'black';
    /* Add padding to the checklist box itself*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Customized Layer Selector Checklist */
.existing_custom_checklist label {
    white-space: nowrap; /*avoid checlist text breaking into two lines*/
}

/* ------ Data Download Button Styling ------ */

.existing-CGSs-download-button {
    display: block;
    padding: 10px 16px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #92cf3c;
    color: black;
    font-family: "Mr Dodo Medium", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.existing-CGSs-download-button:hover {
    background-color: #B7E88A;
}


/* ------ Sidebar Styling ------ */

/* Customized Collapsible Info Sidebar */
.existing_info_sidebar {
    position: relative;
    padding: 20px;
    width: 0;
    height: 100%;
    overflow: hidden; /*closed state hides content*/
    transition: 0.3s ease;
    border-left: 1px solid #ddd;
}

.existing_info_sidebar h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.existing_info_sidebar h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.existing_info_sidebar p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}

/* Info Sidebar when OPEN*/
.existing_info_sidebar_open {
    overflow-y: auto; /*enbales vertical scrolling*/
    width: 300px;
    padding: 5px;
    background: white;
    border-left: 1px solid #ddd;
}

/* Info Sidebar when CLOSED*/
.existing_info_sidebar_collapsible {
    width: 0;
    padding: 0;
}

/* Sidebar Buttons */
.existing_sidebar_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/*Remove Bootstrap blue states when clicking buttons*/
.existing_sidebar_buttons .btn {
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color: transparent !important;
    --bs-btn-hover-border-color: transparent !important;
    --bs-btn-active-bg: transparent !important;
    --bs-btn-active-border-color: transparent !important;
    --bs-btn-focus-shadow-rgb: 0, 0, 0 !important;

    box-shadow: none !important;
    outline: none !important;
}

.community-btn {
    background-color: #f98607;
    color: white;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
}
.community-btn:hover {
    background-color: #f98607;
    color: white;
    opacity: 0.7;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
}


.soil-btn {
    background-color: #78612c;
    color: white ;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
}
.soil-btn:hover {
    background-color: #78612c;
    opacity: 0.7;
    color: white ;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
}


/* ------ Modal PopUp Walkthrough Messages Styling ------ */

/*Overall Modal PopUp Window*/
.existing-guide-modal .modal-content{
    background-color: #e5e1ce;
}

.existing-guide-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

/*Modal Footer Back Button */
.existing-guide-footer-back {
    display: flex;
    justify-content: flex-start;
}

/*Modal Footer Progress Indicator*/
.existing-guide-footer-progress {
    display: flex;
    justify-content: center;
}

/*Modal Footer Next-Finish Button*/
.existing-guide-footer-nextfinish {
    display: flex;
    justify-content: flex-end;
}

/*Modal Footer Buttons */
.existing-guide-footer .btn {
    background-color: #92cf3c;
    border-color: #92cf3c;
    color: black;
    box-shadow: none;
    outline: none;
}

.existing-guide-footer .btn:hover {
    background-color: #B7E88A;
    border-color: #B7E88A;
    color: black;
    box-shadow: none;
}

.existing-guide-footer .btn:focus,
.existing-guide-footer .btn:focus-visible,
.existing-guide-footer .btn:active,
.existing-guide-footer .btn:active {
    background-color: #92cf3c;
    border-color: #92cf3c;
    color: black;
    box-shadow: none;
    outline: none;
}




/* ---------- TAB 2 STYLING ----------------------------------------------------------------------*/

/*Overall Map Area */
.dvpt_map_container {
    flex: 1 1 auto; /* fills remaining space */
    min-width: 0;
    min-height: 0;
    position: relative; /*makes map container the positioning reference point for absolute children e.g. legend*/
    overflow: hidden;
}

/*Loading component*/
.dvpt_map_content {
    width: 100%;
    height: 100%;
    min-width: 0; /*testing*/
    min-height: 0; /*testing*/
}

/* Map Loading Indicator*/
.dvpt-map-loading {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dvpt-loading-time-message {
    font-size: 10px;
    padding-left: 20px;
    width: 300px;
    white-space: normal;
    overflow-wrap: break-word; /*break into 2 lines if text is too long*/
}

/* ------ RadioItems Styling ------ */

/* Customized Layer Selector Box */
.dvpt_layer_box {
    background-color:  #e5e1ce;
    /*Add padding the checklist text*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: black;
    /* Add padding around checklist box itself*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.dvpt_layer_box summary {
    font-weight: bold;
    cursor: pointer; /*show user it's clickable*/
    padding: 5px;
}

/* Left control panel*/
.dvpt_left_panel {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    flex-shrink: 0;
}

/* Customized Layer Selector Checklist */
.dvpt_custom_checklist label {
    width: 200px;
    white-space: normal;
    overflow-wrap: break-word; /*break into 2 lines if layer name is too long*/
}

/*Indent PPFI sub-options*/
.dvpt_demographics_checklist label:nth-child(n+3) {
    margin-left: 20px;
}


/* ------ Sidebar styling ------ */

/* Customized Collapsible Info Sidebar */
.dvpt_info_sidebar {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    width: 0;
    height: 100%;
    overflow: hidden; /*closed state hides content*/
    flex-shrink: 0;
    border-left: 1px solid #ddd;
}

.dvpt_info_sidebar h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.dvpt_info_sidebar h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.dvpt_info_sidebar p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}

/* Info Sidebar when OPEN*/
.dvpt_info_sidebar_open {
    overflow-y: auto; /*enbales vertical scrolling*/
    width: 300px;
    padding: 5px;
    background: white;
    border-left: 1px solid #ddd;
}

/* Info Sidebar when CLOSED*/
.dvpt_info_sidebar_collapsible {
    width: 0;
    padding: 0;
}


/* Sidebar Buttons */
.dvpt_sidebar_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/* ------ Categorical legend styling ------ */

/* Outer container of legend */
.dvpt-cat-legend {
    position: absolute; /*sits on top of map*/
    bottom: 20px;
    right: 20px;
    z-index: 1000; /*legend appears on top of map*/

    background: white;
    padding: 5px;
    border-radius: 5px;
}

/* Heading of legend */
.dvpt-cat-legend-title {
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    white-space: normal;
    overflow-wrap: break-word;
}

/* Container of all individual legend entries */
.dvpt-cat-legend-items {
    display: flex;
    flex-direction: column;
}

/* Individual legend entry */
.dvpt-cat-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    width: 150px;
    white-space: normal;
    overflow-wrap: break-word;
}

/* Little coloured square */
.dvpt-cat-legend-box {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    margin-right: 8px;
    flex-shrink: 0;
}

/* Text next to colour box */
.dvpt-cat-legend-label {
    font-size: 10px;
}

/* ------ Numerical legend styling ------ */

/* Outer container of entire legend */
.dvpt-num-legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    background: white;
    padding: 5px;
    border-radius: 5px;
}

/* Title at top of legend */
.dvpt-num-legend-title {
    font-size: 14px;
    font-weight: bold;
}

/* Actual colour bar */
.dvpt-num-legend-gradient {
    width: 200px;
    height: 15px;
    border: 1px solid black;
}
/* Container holding min and max values */
.dvpt-num-legend-scale-labels {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 12px;
}

/* ------ Modal PopUp Walkthrough Messages Styling ------ */

/*Overall Modal PopUp Window*/
.dvpt-guide-modal .modal-content{
    background-color: #e5e1ce;
}

.dvpt-guide-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

/*Modal Footer Back Button */
.dvpt-guide-footer-back {
    display: flex;
    justify-content: flex-start;
}

/*Modal Footer Progress Indicator*/
.dvpt-guide-footer-progress {
    display: flex;
    justify-content: center;
}

/*Modal Footer Next-Finish Button*/
.dvpt-guide-footer-nextfinish {
    display: flex;
    justify-content: flex-end;
}

/*Modal Footer Buttons */
.dvpt-guide-footer .btn {
    background-color: #92cf3c;
    border-color: #92cf3c;
    color: black;
    box-shadow: none;
    outline: none;
}

.dvpt-guide-footer .btn:hover {
    background-color: #B7E88A;
    border-color: #B7E88A;
    color: black;
    box-shadow: none;
}

.dvpt-guide-footer .btn:focus,
.dvpt-guide-footer .btn:focus-visible,
.dvpt-guide-footer .btn:active,
.dvpt-guide-footer .btn:active {
    background-color: #92cf3c;
    border-color: #92cf3c;
    color: black;
    box-shadow: none;
    outline: none;
}



/* ---------- TAB 3 STYLING ----------------------------------------------------------------------*/

.user-guide-tab {
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 120px;
    box-sizing: border-box;
}

.user-guide-tab .user_guide_container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}


.user_guide_container h1 {
    display: block;
    font-size: 2.5rem;
    color: #5A9E2F;
    font-family: "Mr Dodo Medium";
}

.user_guide_container h2 {
    display: block;
    font-size: 1.8rem;
    color: #92cf3c;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Mr Dodo Medium";
}

.user_guide_container h4 {
    padding-top: 20px;
}

.user_guide_container .accordion-button {
    width: 100%;
    height: 30px;
    position: static;
}
.user_guide_container .accordion {
    padding-top: 2px;
}

.team-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.team-member {
    display: flex;
    align-items: center;
    gap: 20px;
}

.team-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}